{{#if moduleColumnData.dismissible}}<button type="button" class="close" aria-label="Close" {{action "close"}}>&times;</button>{{/if}}
<strong><span class="glyphicon {{moduleColumnData.glyphiconClass}} btn-sm"></span></strong>
<span class="alert-message">{{value}}</span>
